.me-auto{
    width: 80%;
  
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    /* CSS styles to apply when the viewport width is 768px or more */
    .me-auto {
            width: 80%;
            margin-left: 20%;
            display: flex;
            justify-content: space-between;
        }
}